<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>clase registrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">clase registrada</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Profesor: {{profesor}} </ion-label> 
  <br>
  <ion-label>Asignatura: {{asignatura}} </ion-label>
  <br>
  <ion-label>Hora: {{hora}}</ion-label>
  <br>
  <ion-label>Alumno: {{alumno}}</ion-label>
  
</ion-content>
